[Unit]
Description= Redis cluster node 
After=network.target
[Service]
ExecStart={{ redis_server }} {{ redis_conf }}
TimeoutStopSec=0
User={{ owner_and_group_name }}
Group={{ owner_and_group_name }}
[Install]
WantedBy=multi-user.target