# running mode

daemonize no 

supervised systemd

notify-keyspace-events Ex

pidfile "{{ storage_dir }}/redis.pid"

# persistence setuo

rdbchecksum yes

dbfilename {{ rdb_file_name }}

dir {{ storage_dir }}

replica-serve-stale-data yes

replica-read-only yes

# tls enable 

port {{ port_ }}
tls-port {{ tls_port }}

tls-cert-file /etc/ssl/redis.crt
tls-key-file /etc/ssl/private/redis.key

tls-ca-cert-file /usr/local/share/ca-certificates/ca.crt

tls-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256

tls-auth-clients yes

tls-replication yes

tls-cluster yes

tls-protocols "TLSv1.3"

tls-prefer-server-ciphers no

# enable cluster mode

cluster-enabled {{ cluster_enabled }}

cluster-config-file {{ node_state_file }}

cluster-node-timeout 15000

cluster-migration-barrier 1

cluster-announce-bus-port 5000

logfile /var/log/redis/redis.log